*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: white;
}
.logoDiv{
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoDiv img{
    width: 8rem;
    height: 8rem;
}
.logoText{
    color: white;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position:initial; */
    top: 0;
    background-color: rgb(2, 2, 31);
}
body{
    position: relative;
}

.navLink{
    margin-right: 5rem;
}
.navLink ul{
    list-style-type: none;
    display: flex;
}
.navLink ul li{
    padding-right:1rem;
    /* font-weight: bold; */
    position: relative;
}
.navLink ul li a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
.navLink ul li a:hover{
    color: darkgray;
}
.navLink ul li a::before{
   
    content: "";
    width: 0px;
    height: 10px;
    background: url(images/Menu_active.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    left: 15%;
    /* background-image: url(images/Menu_active_02.png); */

}
ul li a:hover::before {
    width: 50%;
    transform: translateX(10%);
}
.mainText ul{
    list-style-type: none;
}
.bar1{
    position: relative;
}
.bar::before{
    content: "";
    background: url(images/line.png);
    width: 50px;
    height: 10px;
    /* color: white; */
    background-color: antiquewhite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30%;
    left: 0%;
}
/* products */
#carouselExampleIndicators{
    width: 50vw;
    height: 70vh;
    background-color: aqua;
    margin: 40px;
}
img{
    width: 50vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}
.flex1{
    display: flex;
    gap:30px;
}
.flex2{
    margin: 0px;
    margin-top: 30px;
}
.Description{
    display: flex;

}
.discr, .start{
    width: 37vw;
    text-align: justify;
}
.button{
    display: flex;
    width: 50vw;
    justify-content: center;
    
}

/* footer */
.section9{
    display: flex;
}
.navFooter ul,.productFooter ul,.addressFooter ul,.followFooter ul{
    list-style-type: none;
    
}
.navFooter ul a,.productFooter ul a,.addressFooter ul a{
    text-decoration: none;
    color: rgb(98, 94, 94);
    font-weight: 700;
}
.navFooter ul a:hover,.productFooter ul a:hover{
    color: white;
}
.navFooter ul li,.productFooter ul li,.addressFooter ul li,.followFooter ul li{
    padding: 10px;
}
.section9{
    /* background: radial-gradient(rgb(9, 9, 76), rgb(25, 18, 83)); */
    background-color: rgb(6, 6, 30);
}
.section9 h3{
    padding: 1rem;
    font-weight: 600;
}
.section10{
    background-color: black;
    color: rgb(98, 94, 94);
}