* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: white;
}
.logoDiv {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.logoText {
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position:initial; */
  top: 0;
}
body {
  position: relative;
}
.section1 {
  /* background-image: radial-gradient(rgba(45, 48, 123, .5), rgba(25, 20, 69, .9)),url(images/home1.jpg); */
  height: 100vh;
  /* position: relative; */
  animation-name: image;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes image {
  0% {
    background: radial-gradient(rgba(83, 83, 94, 0.7), rgba(25, 20, 69, 0.9)), url(/images/home1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25% {
    background: radial-gradient(rgba(92, 92, 102, 0.4), rgba(25, 20, 69, 1)), url(/images/home2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: radial-gradient(closest-side at 80% 50% rgba(66, 66, 78, 0.7), rgba(20, 15, 61, 0.95)),
      url(/images/home3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: radial-gradient(rgba(93, 94, 113, 0.7), rgba(25, 20, 69, 0.95)), url(/images/home4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: radial-gradient(rgba(119, 121, 157, 0.7), rgba(25, 20, 69, 0.95)), url(/images/home5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.navLink {
  margin-right: 1rem;
}
.navLink ul {
  list-style-type: none;
  display: flex;
}
.navLink ul li {
  padding-right: 1rem;
  /* font-weight: bold; */
  position: relative;
}
.navLink ul li a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.navLink ul li a:hover {
  color: darkgray;
}
.navLink ul li a::before {
  content: '';
  width: 0px;
  height: 10px;
  background: url(/images/Menu_active.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 100%;
  left: 15%;
  /* background-image: url(images/Menu_active_02.png); */
}
ul li a:hover::before {
  width: 50%;
  transform: translateX(10%);
}
.mainText ul {
  list-style-type: none;
}
.bar1 {
  position: relative;
}
.bar::before {
  content: '';
  background: url(/images/line.png);
  width: 50px;
  height: 10px;
  /* color: white; */
  background-color: antiquewhite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 30%;
  left: 0%;
}
.mainText {
  /* background-color: aqua; */
  display: inline-block;
  margin-top: 7rem;
  margin-left: 10rem;
}
.add {
  display: flex;
  align-items: center;
}
.add1 {
  position: fixed;
  right: -19%;
  top: 40%;
  border: 5px solid rgb(10, 77, 3);
  border-radius: 40px;
  display: inline-flex;
  padding-left: 1rem;
  z-index: 45;
  background-color: white;
}
.add1:hover {
  display: none;
  position: fixed;
  right: 0%;
  top: 40%;
  border: 5px solid rgb(10, 77, 3);
  border-radius: 40px 0px 0px 40px;
  display: inline-flex;
  padding-left: 1rem;
  z-index: 45;
  background-color: white;
}
.whatsapp {
  font-size: 4rem;
  color: rgb(14, 86, 7);
}
.whatsapp-content {
  color: rgb(0, 0, 0);
  margin-left: 1rem;
  font-weight: 700;
}

/* about us */

.section2 {
  width: auto;
  /* height: 65vh; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 2rem;
}
.section3 {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: lavender;
  height: 110vh;
}
.borders {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-image: url(/images/facility-border.png);
  width: 60vw;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* padding-bottom: 2rem; */
}
.borders img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}
.box1 {
  position: absolute;
  top: -4rem;
  left: 25vw;
}
.box2 {
  position: absolute;
  top: 27vh;
  left: -2%;
}
.box3 {
  position: absolute;
  top: 27vh;
  right: -2%;
}
.box4 {
  margin-top: 7rem;
}
.box4 img {
  border: 5px rgb(116, 109, 109) solid;
  width: 10rem;
  height: 10rem;
}
.box {
  border: 5px solid rgb(116, 109, 109);
  border-radius: 50%;
  box-shadow: 0px 0px 15px black;
}
/* .contentProduct{
    width: 50vw;
} */
/* .section4{
    /* height: 70vh; 
} */
/* section5 */
.section5 {
  /* height: 70vh; */
  background-image: radial-gradient(rgba(83, 83, 94, 0.7), rgba(25, 20, 69, 0.9)), url(/images/home3.jpg);
  color: white;
  background-position: center;
}
.section6 button,
.followFooter button:hover {
  background-color: rgb(0, 0, 150);
}
button a {
  text-decoration: none;
  color: white;
}
/* recipes */
.section7 {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 3, 0.7));
  padding-bottom: 2rem;
  /* height: 100vh; */
}
.recipes {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 25vw;
  height: 70vh;
  border: 2px solid rgb(74, 72, 72);
  box-shadow: 0px 0px 15px;
}
.card img {
  height: 35vh;
}
/* contact */
.section8 {
  /* background-image: url(images/home5.jpg); */
  background: rgba(rgb(12, 12, 12), alpha);
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.images3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images3 img {
  width: 160px;
  height: 160px;
  margin: 10px;
  border: 3px solid rgb(116, 111, 111);
  border-radius: 50%;
}
/* .images3 img:last-child{
    width: 420px;
} */
/* footer */
.section9 {
  display: flex;
}
.navFooter ul,
.productFooter ul,
.addressFooter ul,
.followFooter ul {
  list-style-type: none;
}
.navFooter ul a,
.productFooter ul a,
.addressFooter ul a {
  text-decoration: none;
  color: rgb(98, 94, 94);
  font-weight: 700;
}
.navFooter ul a:hover,
.productFooter ul a:hover {
  color: white;
}
.navFooter ul li,
.productFooter ul li,
.addressFooter ul li,
.followFooter ul li {
  padding: 10px;
}
.section9 {
  /* background: radial-gradient(rgb(9, 9, 76), rgb(25, 18, 83)); */
  background-color: rgb(6, 6, 30);
}
.section9 h3 {
  padding: 1rem;
  font-weight: 600;
}
.section10 {
  background-color: black;
  color: rgb(98, 94, 94);
}
